# Add any directories, files, or patterns you don't want to be tracked by version control


target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
log/
target/

# Mac
.DS_Store

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

application.pid
